/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/reset.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_fr.h"

/ {
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
			bindings = <
&kp ESCAPE  &kp AMPS  &none  &kp DOUBLE_QUOTES  &none  &kp KP_LEFT_PARENTHESIS  &kp KP_MINUS  &none         &kp LS(UNDERSCORE)  &none      &none     &kp KP_RIGHT_PARENTHESIS  &kp KP_EQUAL    &kp BSPC
&kp TAB     &kp A     &kp Z  &kp E              &kp R  &kp T                    &kp Y         &kp U         &kp I               &kp O      &kp P     &none                     &kp DOLLAR      &kp STAR
&kp CLCK    &kp Q     &kp S  &kp D              &kp F  &kp G                    &kp H         &kp J         &kp K               &kp L      &kp M     &none                                     &kp RET
&kp LSHFT   &kp W     &kp X  &kp C              &kp V  &kp B                    &kp N         &kp KP_COMMA  &none               &kp COLON  &kp EXCL                                            &kp UP_ARROW
&kp LCTRL   &kp LGUI         &kp LALT                                           &kp SPACE                                                  &mo 3     &kp LEFT_ARROW            &kp DOWN_ARROW  &kp RIGHT
			>;
		};

         shifted {
             bindings = <
 &trans  &kp LS(KP_NUMBER_1)  &kp LS(KP_NUMBER_2)  &kp LS(KP_NUMBER_3)  &kp LS(KP_NUMBER_4)  &kp LS(KP_NUMBER_5)  &kp LS(KP_NUMBER_6)  &kp LS(KP_NUMBER_7)  &kp LS(KP_NUMBER_8)  &kp LS(KP_NUMBER_9)  &kp LS(KP_NUMBER_0)  &kp FR_DEG       &kp LS(KP_PLUS)    &kp LS(DEL)
 &trans  &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &kp FR_UMLAUT    &kp FR_POUND_SIGN  &kp FR_MICRO
 &trans  &trans               &trans               &none                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &kp LS(PERCENT)                     &trans
 &trans  &trans               &trans               &trans               &trans               &trans               &trans               &kp LS(QUESTION)     &kp LS(KP_DOT)       &kp LS(KP_SLASH)     &kp FR_SECT                                              &trans
 &trans  &trans                                    &trans                                                         &trans                                                                              &trans               &trans           &trans             &trans
             >;
         };

        alt_gr {
             bindings = <
 &trans  &none   &kp FR_TILDE  &kp LS(POUND)  &kp LA(LC(LEFT_BRACE))  &kp LC(LA(LBKT))  &trans  &kp LA(LC(GRAVE))  &kp LC(LA(BSLH))  &none   &kp LC(LA(AT_SIGN))  &kp LC(LA(RBKT))  &kp LC(LA(RIGHT_BRACE))  &trans
 &trans  &trans  &trans        &kp FR_EURO    &trans                  &trans            &trans  &trans             &trans            &trans  &trans               &trans            &kp FR_CURREN            &trans
 &trans  &trans  &trans        &trans         &trans                  &trans            &trans  &trans             &trans            &trans  &trans               &trans                                     &trans
 &trans  &trans  &trans        &trans         &trans                  &trans            &trans  &trans             &trans            &trans  &trans                                                          &trans
 &trans  &trans                &trans                                                   &trans                                               &trans               &trans            &trans                   &trans
             >;
         };

		rgb_layer {
// ------------------------------------------------------------------------------------------------
// | BT CLR | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F8  | F9  | F10  | F11 | F12 | EFFECT REV |
// |  BT 1   |   |  UP |   | HUEUP | SATUP | BRIUP | SPDUP |   |     |    |     |     |           |
// |   BT 2   | LT |  DN  | RT | HUEDN | SATDN | BRIDN | SPDDN |   |     |   |     |  EFFECT FORW |
// |    BT 3     |     |      |      |     |     |     |     |     |     |     |                  |
// |   BT 4  |      |      |             TOG RGB                | PRT SCR |       |       |  DEL  |
// ------------------------------------------------------------------------------------------------
			bindings = <
	&bt BT_CLR   &kp F1    &kp F2    &kp F3  &kp F4           &kp F5          &kp F6          &kp F7          &kp F8   &kp F9   &kp F10  &kp F11 &kp F12  &rgb_ug RGB_EFR
	&bt BT_SEL 0  &trans    &kp UP    &trans  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_SPI  &trans   &trans   &trans   &trans  &trans          &trans 
	&bt BT_SEL 1   &kp LEFT  &kp DOWN  &kp RIGHT &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_SPD &trans   &trans   &trans   &trans        &rgb_ug RGB_EFF
	&bt BT_SEL 2    &trans    &trans    &trans   &trans          &trans          &trans          &trans          &trans   &trans   &trans                          &trans
	&bt BT_SEL 3  &trans   &trans                            &rgb_ug RGB_TOG                                      &kp PSCRN      &trans      &trans               &kp DEL
			>;
		};
	};
};
